.fondo{
  background-color: rgb(255, 255, 255);
  background-image: url('https://images.hdqwalls.com/wallpapers/large-rocks-on-beach-shore-fd.jpg');
  min-width: 99vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-size: cover;


}
.container{
  display: inline;
  width: 50rem;
  align-items: center;
  justify-content: center;
  margin-left: -150px;
}
.texto{
  margin-top: 0;
  padding-top: 0;
  background-color: red;
}

.boton{
    display: flex;
    width: 100%;
    background-color: rgba(248, 244, 244, 0.856);
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    backdrop-filter: blur(2px);
    border: none;
    padding-bottom: 50px;
    margin-top: 30px;
    padding-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.boton2{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 60px;
  height: 20px;
  background-color: rgb(240, 243, 243);
  border: 1px solid rgba(0, 0, 0, 0.377);
  color: black;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.boton4{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 60px;
  height: 20px;
  background-color: rgb(240, 243, 243);
  border: 1px solid rgba(0, 0, 0, 0.377);
  color: black;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}


.boton3{
  display: flex;
  width: 20px;
  height: 20px;
  background-color: rgb(12, 12, 12);
  color: black;
  border-radius: 50px;
  transition: ease-in-out 0.2s;
}

.boton3:hover{
  background-color: rgba(0, 0, 0, 0.514);
}

.botontheme{
    display: flex;
    width: 100%;
    background-color: rgba(248, 244, 244, 0.856);
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    backdrop-filter: blur(2px);
    border: none;
    padding-bottom: 50px;

}

.separa{
  margin-left: 50px;
}

.textoboton{
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}




.themecheckbox {
  border: 1px solid rgba(0, 0, 0, 0.144);
  --toggle-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.themecheckbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.themecheckbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.themecheckbox:checked {
  background-position: 100%;
}

.botonuevo{
  margin-left: 1rem;
  margin-right: 1rem;

}